@use "tailwindcss" as *;

* {
    font-family: 'Gilroy', sans-serif;
}

.helvetica {
    font-family: 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none !important;
}

.rotated-img {
  height: auto;
  width: 100vw;

  @media (min-width: 1025px) {
    height: auto;
    width: 100%;
  }
}